extends layout

block head
  link(rel='stylesheet', href='/stylesheets/problem_editor_page.css')

block content
  form(action="./problem_editor_page/generate", method="post") 
    div.content.px-4
      div.row
        div.col-8.question-border(style="border-style:solid")
          div.question-content
            div.question-title
              span Passage
            textarea.passage-text(name="passage", autofocus="", placeholder="Enter a paragraph to generate questions from...")
        div.col-4(style="border-style:solid")
          div.question-content
            div.question-title
              span Question type
            div.row
              div.form-floating
                select.form-select(name="questionType")
                  option(value='1') Open question
                label(for="questionType") Question type
                input.btn.btn-outline-primary(type="submit", text="Generate") 