extends layout

block head
  link(rel='stylesheet', href='/stylesheets/problem_editor_page.css')
  script(src="/javascripts/code.jquery.com_jquery-3.7.0.min.js")
  script(src="/jquery/problem_editor_page.ui.js")
block content
  form#problem_editor_page(action="problem_editor_page", method="post") 
    div.content.px-4
      div.row
        div.col-8.question-border(style="border-style:solid")
          div.question-content
            div.question-title
              span Passage
            textarea.passage-text(name="passage", autofocus="", placeholder="Enter a paragraph to generate questions from...")
        div.col-4(style="border-style:solid")
          div.question-content
            div.question-title
              span Question type
            div.row
              div.form-floating
                select.form-select(name="questionType")
                  option(value='1') Open question
                label(for="questionType") Question type
                input#generate.btn.btn-outline-primary(type="button", value="Generate")
    
      div.row
          div.col-12
            h2 Q1
            div.question
              span#question question
            div.answer
              span#answer answer