html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-size: 20px;
    background-color: var(--color5);
}
body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
}
main{
}
.footer{
    margin-top:auto;
}
a{
    cursor: pointer;
}
.mean-link{
    color:var(--color3);
    padding-right: 20px;
    padding-left: 20px;
}
.mean-link:hover{
    color:var(--color1);
}
.mean-link.active{
    color:var(--color1);
}
.main-container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-outline{
    background-color: var(--color1);
    color: var(--color5);
}
  
.btn-outline:hover{
    background-color: var(--color0);
    color: var(--color5);
}
.btn-outline:active{
    background-color: var(--color0);
    color: var(--color5);
}
.text-0{
    color: var(--color0);
}
.text-1{
    color: var(--color1);
}
.text-2{
    color: var(--color2);
}
.text-3{
    color: var(--color3);
}
.text-4{
    color: var(--color4);
}
.text-5{
    color: var(--color5);
}
.text-6{
    color: var(--color6);
}
.bg-0{
    background-color: var(--color0);
}
.bg-1{
    background-color: var(--color1);
}
.bg-2{
    background-color: var(--color2);
}
.bg-3{
    background-color: var(--color3);
}
.bg-4{
    background-color: var(--color4);
}
.bg-5{
    background-color: var(--color5);
}
.bg-6{
    background-color: var(--color6);
}
.bg-7{
    background-color: var(--color7);
}
.bg-8{
    background-color: var(--color8);
}
:root{
    --color0: #8bc34a;
    --color1: #6a9739;
    --color2: #111111;
    --color3: #333333;
    --color4: #f8f6f3;
    --color5: #ffffff;
    --color6: #001524;
    --color7: #424242;
    --color8: #000000;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

@media (max-width: 500px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 300px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    /*
    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
    */
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
