.question-border{
    border-end-start-radius:15px;
    border-start-start-radius: 15px;
}
.question-content{
    display:flex;
    width:100%;
    min-height: 600px;
    padding:20px;
    flex-direction: column;
}
.question-title{
    display: flex;
    font-size: 20px;
    margin-bottom: 25px;
}

.passage-text{
    flex:1;
    font-size:20px;
    resize: none;
    border:none;
    outline:none;
}